/* nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: black;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
} */

/* list contact*/
nav li a {
    margin: 0px;
    padding: 10px;
    color: black; /*color contact list*/
}

/* List Left*/
li a {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
  /* font-weight: bold; */
}

.contact-section .contact-list li {
  font-family: Arial, sans-serif; /* Apply your desired font here */
  font-size: 16px; /* Adjust font size as needed */
  /* Add any other styles as needed */
}

/* Change Colour to red when hovering over links */
li a:hover {
    color: red;
}

h1 a:hover {
    color: black;
}

main section {
    margin: 20px 0;
}


.left-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Align items to the left */
    padding: 45px;
    margin: 5px;
    margin-top: 0px;
    position: fixed;
    top: 0;
    color: black;
}

.left-column a {
    color: black; /* Set the color for links in the left column */
}

main a {
    color: #C70039; /* Set the color for links in the main content */
    text-decoration: none;
}

/* header for main title of page*/
main h1 {
    font-size: 3.2em;
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;}


    .middle-column {
      display: flex;
      flex-direction: column;
      justify-content: flex-start; /* Align items to the start */
      align-items: center; /* Align items horizontally to the center */
      margin: 400px; /* Add some margin */
      margin-top: 200px; /* Add some margin */
      max-width: 1500px; /* Set maximum width for the content */
      text-align: center; /* Center text horizontally */
    }
    

.text-content {
    display: inline-block; /* Make the content inline block */
    text-align: center; /* Center text horizontally */
    line-height: 2.5; /* Increase line height for more spacing between sentences */
  }  

  .about-section {
    word-spacing: 50px; /* Adjust spacing as needed */
    margin-bottom: 120px; /* Adjust margin at the bottom of the About section */
  }
  
  .contact-links {
    display: flex;
    word-spacing: 90px; /* Adjust spacing between words */
    justify-content: center; /* Align links horizontally */
  }
  
  .contact-links a {
    text-decoration: none;
    color: #C70039; /* Adjust as needed */
    font-size: 20px; /* Adjust font size */
    margin-left: -20px; /* Move text slightly to the left */
  }
  
  .contact-links a:not(:last-child):after {
    content: " |";
    margin-right: 100px;
  }
  
  

.middle-column h2 {
    margin-top: 20px; /* Adjust as needed for vertical space */
}

.middle-column p {
    text-align: left; /* Align paragraphs to the left */
}

main ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

main li {
    margin-bottom: 20px;
    color: #C0C0C0;
}
/*main colors*/
main a {
    /* color: #555555; */
    text-decoration: none;
}

/*paragraph*/
main p {
    margin: 40px;
    font-weight: bold;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;}

/* change colour of highlighted words */
::selection {
    background-color: red;
    color: white;
}

/* Additional styles for links and image */

/* Center the links horizontally */
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Keep space-between */
  align-items: center;
  margin-top: 160px;
  max-width: 900px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.links .content {
  display: none;
  width: 100%;
  max-width: 800px;
  text-align: center;
  margin: 1rem auto 0;
}
/*space between links and content*/
.links li:first-child .content {
  margin-top: 120px; /* Adjust as needed */
}

.links a:hover {
    background-color: #666;
    color: white;
}
  
  .links li .content p {
    display: inline-block;
    text-align: center;
  } 
  
  .links li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem; 
    position: static; /*add a relative position to the parent li element*/
  }
  
  .links li .content {
    margin-top: 350px;
    position: absolute;
    top: calc(10% + 10px); /* adjust the distance between the link and the content as needed */
    left: 50%;
    transform: translateX(-50%);
  }
  

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active,
  .accordion:hover {
    background-color: #ccc;
  }
  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    max-height: 0;
  }

/* Custom styles for the projects list */
.projects-list {
  position: absolute;
  top: 120px; /* Adjust as needed */
  left: 55px; /* Move to the right */
}

/* Custom styles for the projects list items */
.projects-list li {
  font-size: 0.8em; /* Smaller font size */
  margin-bottom: 12px; /* Add margin between items */
}

.hidden {
  display: none;
}

.bio-section {
  position: absolute;
  top: 200px; /* Adjust as needed to position the image below the header */
  left: 280px; /* Adjust as needed to position the image to the right of the list */
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.bio-section img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}
